@use "sass:color";

$poncho-toast-grad0: 3%;
$poncho-toast-grad1: 2%;

.poncho-toast {
  display : flex;
  align-items: center;
  max-width: 300px;

  .poncho-toast-wrapper {
    min-width: 150px;

    .poncho-toast-head {
      font-weight: bold;
    }
  }

  &.poncho-toast-success {
    background: linear-gradient(135deg, color.adjust($success, $lightness: $poncho-toast-grad0), color.adjust($success, $lightness: -$poncho-toast-grad1));
  }

  &.poncho-toast-error {
    background: linear-gradient(135deg, color.adjust($danger, $lightness: $poncho-toast-grad0), color.adjust($danger, $lightness: -$poncho-toast-grad1));
  }

  &.poncho-toast-warning {
    background: linear-gradient(135deg, color.adjust($warning, $lightness: $poncho-toast-grad0), color.adjust($warning, $lightness: -$poncho-toast-grad1));
  }

  &.poncho-toast-info {
    background: linear-gradient(135deg, color.adjust($primary, $lightness: $poncho-toast-grad0), color.adjust($primary, $lightness: -$poncho-toast-grad1));
  }
}